<div class="container main-container">
  <div class="row text-center">
    <div class="col-lg-6 col-md-6 mb-4">
      <h1>Encryption</h1>
      <br>
      <div class="form-group">
        <label for="txtTextToConvert">Data to Encrypt</label>
        <input type="text" class="form-control" placeholder="Enter text you want to encrypt" [(ngModel)]="dataToEncrypt">
      </div>

      <textarea class="form-control" readonly rows="3">{{conversionEncryptOutput}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="convertText('encrypt')">Encrypt</button>
    </div>

    <div class="col-lg-6 col-md-6 mb-4">
      <h1>Decryption</h1>
      <br>
      <div class="form-group">
        <label for="txtTextToConvert">Data Encrypted to do Decrypt</label>
        <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="dataText">
      </div>

      <textarea class="form-control" readonly rows="3">{{conversionDecryptOutput}}</textarea>
      <br>
      <button type="button" class="btn btn-danger float-right" (click)="convertText('decrypt')">Decrypt</button>

    </div>
  </div>
  